/*Css General Proyecto*/
/*Aplicamos un reset General para el CSS*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* 1 rem = 10px*/
}

/* Los media queries van despues (de menor a mayor) */
/* mobile first - customizado para 360px*/

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    background-color: rgba(213, 213, 213, 0.888);
}

#contenedor {
    display: grid;
    grid-template-areas:
        "encabezado"
        "navegacion"
        "principal"
        "pie"
    ;
    grid-template-columns: 95%;
    
}

header {
    grid-area: encabezado;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/img/header_img.jpg");
    background-size: cover;
    height: auto;
    z-index: 1;
    top: 0px;
}

main {
    grid-area: principal;
    padding: 5px;
    display: flexbox;
}

footer {
    grid-area: pie;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

p {
    font-family: 'Lobster', cursive;

}

h2 {
    margin: 5px;
    margin-top: 10px;

    margin-bottom: 10px;
}

/* Estilo del Encabezado de Pagina */
header img {
    display: none;
}

header h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: rgb(255, 89, 0);
    background-color: whitesmoke;
    margin: auto;
}



/*Estilo de la lista de Menu de la pagina*/
ul {
    background-color: SteelBlue;
    /*Saco los bullets o numeros de la lista*/
    list-style: none;
    padding: 0;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    flex-grow: 1;
    position: relative;
    /* necesario para submenu */
}

nav ul a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    color: white;
}

ul ul {
    position: absolute;
    background-color: SteelBlue;
    width: 100%;
    display: none;
}

ul ul li {
    background-color: rgb(37, 101, 152);
}

nav li:hover {
    background-color: SkyBlue;

}

ul li:hover ul {
    display: block;
}

/*Fin estilo Menu Pagina*/

/* Estilo del Pie de Pagina */
footer ul {
    display: flex;
    gap: 5px;
    background-color: transparent;
    text-transform: uppercase;
}

footer ul li {
    padding: 5px;
    text-decoration: none;
}

footer p {
    padding: 5px;
    font-family: Arial;
    margin-right: 10px;
}

form label {
    padding-top: 5px;
    padding-bottom: 5px;
}

form input {
    margin: 1px;
}

/*============================ Animacion para imagenes ==================*/
.img-style:hover .caption {
    opacity: 1;
}

.img-style:hover img {
    opacity: 1;
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
}


.img-style img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.img-style .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.img-style img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.line-1{
    display: flex;
    align-items:flex-start;
    position:relative;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 left;
    justify-content: left;   
}
/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(25) 1s infinite normal both,
        blinkTextCursor 500ms steps(10) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 6em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

/*==============================IDs=====================================*/
#nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}

#textMision {
    /* propiedades decorativas */
    border: solid 5px rgb(117, 183, 117);
    padding: 10px;

}

#topServicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

/*=========================Clases========================================*/
.columnForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fondoForm {
    background-color: rgb(146, 172, 182);
    border: inset 10px rgb(113, 185, 163);
    margin: 5px;
}

/*Clases para hacer "aparecer o desaparecer" cosas en las vistas*/
.showonmobile {
    display: inherit;
}

.showondesktop {
    display: none;
}

/* Tables, notebooks y escritorio */
@media screen and (min-width: 768px) {

    /* DESDE 1200px */
    #contenedor {
        grid-template-columns: 100%;
        grid-template-rows: auto 300px minmax(400px, auto) 50px;
        max-width: 1000px;
        width: 100%;
        margin: auto;
        background: white;

    }

    body {
        font-size: 180%;
    }

    header {
        position: sticky;
        flex-wrap: nowrap;
        height: 90px;
    }

    nav {
        position: sticky;
        top: 90px;
        z-index: 1;
    }

    main {
        padding: 10px;
        display: inline-block;
    }

    footer {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        display: flex;
    }

    header h1 {
        font-size: 6rem;
    }

    #nosotros {
        display: flex;
        margin: 5px;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    #textMision {
        /* propiedades decorativas */
        margin-left: 10px;
        overflow: auto;
    }

    #topServicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        justify-items: center;
    }

    footer ul {
        gap: 15px;
        padding: 5px;
        margin-bottom: 0;

    }

    footer ul li {
        padding: 5px;
        text-decoration: none;
    }

    footer p {
        font-family: Arial;
        margin-right: auto;
    }

    form label {
        padding: 5px;
    }

    form input {
        margin: 5px;
    }

    .boton_form--size {
        font-size: 20px;
    }

    .columnForm {
        display: block;


    }

    /*Clases para hacer "aparecer o desaparecer" cosas en las vistas*/
    .showonmobile {
        display: none;
    }

    .showondesktop {
        display: flex;
    }
}

/*Damos estilo a las celdas de las tablas:*/
td {
    text-align: left;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*------------------Clases------------------------------*/

.boton_form--pos {
    position: relative;
    align-self: flex-end;
    margin: 5px;
    text-align: right;
}



.fondoTabla {
    background-color: rgb(246, 244, 157);
    border: inset 10px rgb(214, 210, 138);
    margin-bottom: 3px;
    width: 95%;
}