/*Css General Proyecto*/
/*Aplicamos un reset General para el CSS*/
* {
    margin: 0;
    padding: 0;
}
/* Los media queries van despues (de menor a mayor) */
/* mobile first - customizado para 360px*/

#contenedor {
    display: grid;
    grid-template-areas:
        "principal"
     ;
    grid-template-columns: 95%;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    
}

main {
    grid-area: principal;
    padding: 10px;
    display: flexbox;
}

p {
    font-family: 'Lobster', cursive;
}

h2 {
    margin: 5px;
    margin-top: 10px;

    margin-bottom: 10px;
}

form label {
    padding-top: 5px;
    padding-bottom: 5px;
}

form input {
    margin: 1px;
}

/*============================ Animacion para imagenes ==================*/
.img-style:hover .caption {
    opacity: 1;
}

.img-style:hover img {
    opacity: 1;
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
}


.img-style img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.img-style .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.img-style img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(0.1px) translateZ(-0.1px);
    transform: perspective(0.1px) translateZ(-0.1px);
    box-shadow: 0 0 1px rgba(224, 221, 221, 0);
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.line-1{
    display: flex;
    align-items:flex-start;
    position:relative;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 left;
    justify-content: left;   
}
/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(25) 1s infinite normal both,
        blinkTextCursor 500ms steps(10) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 6em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

/*==============================IDs=====================================*/
#nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}

#textMision {
    /* propiedades decorativas */
    border: solid 5px rgb(117, 183, 117);
    margin: 15px;
    padding: 15px;

}

#topServicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

/*=========================Clases========================================*/
.columnForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fondoForm {
    background-color: rgb(146, 172, 182);
    border: inset 10px rgb(113, 185, 163);
    margin: 5px;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
/*Clases para hacer "aparecer o desaparecer" cosas en las vistas*/
.showonmobile {
    display: inherit;
}

.showondesktop {
    display: none;
}
@media (min-width: 576px) {
    #nosotros {
        display: flex;
        margin: 15px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    iframe {
        width:480px;
        height:320px;
    }
}
/* Tables, notebooks y escritorio */
@media (min-width: 1200px) {

    /* DESDE 1200px */
    #contenedor {
        grid-template-columns: 100%;
        grid-template-rows: auto 300px minmax(400px, auto) 50px;
        max-width: 1000px;
        width: 100%;
        margin: auto;
        background: white;
        font-size: 180%;
    }

    main {

        display: inline-block;
    }

    #textMision {
        /* propiedades decorativas */
        margin-left: 15px;
        overflow: auto;
    }

    #topServicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap:10px;
        justify-items:auto;
    }
    form label {
        padding: 5px;
    }

    form input {
        margin: 5px;
    }

    .boton_form--size {
        font-size: 20px;
    }

    .columnForm {
        display: block;

    }
    iframe {
        width:640px;
        height:480px;
    }
    /*Clases para hacer "aparecer o desaparecer" cosas en las vistas*/
    .showonmobile {
        display: none;
    }

    .showondesktop {
        display: flex;
    }
}

/*Damos estilo a las celdas de las tablas:*/
td {
    text-align: left;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/*------------------Clases------------------------------*/

.boton_form--pos {
    position: relative;
    align-self: flex-end;
    margin: 5px;
    text-align: right;
}

.fondoTabla {
    background-color: rgb(246, 244, 157);
    border: inset 10px rgb(214, 210, 138);
    margin-bottom: 3px;
    width: 95%;
}