@charset "UTF-8";
/*Archivo de estilo SASS principal*/
/* Variables GLobales utilizadas*/
/*Variable para indicar e identificar que la version es beta o no, si es beta: 
el fondo general es amarillo , si es final, el fondo es blanco */
/*Utilizamos maps para definir los colores utilizados */
/* Categorias utilizadas */
/*Configuracion General para la estructura del html*/
/*Aplicamos un reset General para el CSS*/
/* line 4, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_estructura.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_estructura.scss */
#conentedor-ppal {
  display: grid;
  grid-template-areas: "h2top" "topserv" "h2nos" "video" "textM";
  grid-template-rows: repeat(6, auto);
  grid-gap: 0.5rem;
  margin: 5px;
  margin-top: 10px;
  grid-template-columns: 100%;
}

/*=========================Clases========================================*/
/* line 22, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_estructura.scss */
.topServicios {
  grid-area: topserv;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  grid-row: 2;
}

/* line 33, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_estructura.scss */
.video {
  display: grid;
  grid-area: video;
  justify-items: center;
}

/* line 39, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_estructura.scss */
.textMision {
  grid-area: textM;
}

/* Variable para ajustar el text de acuerdo a los media queries */
/* line 45, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_estructura.scss */
:root {
  --text-font-size: 1rem;
}

/*Decoraciones para todos elementos de las paginas*/
/*usamos MAPS para definir la Variable para los colores de los iconos de las redes*/
/* line 10, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
#conentedor-ppal {
  /*Utiliamos condicional para definir el color de fondo dependiendo de la version de la app*/
  background: white;
}

/*Propiedades deco de el fondo y borde de los formularios*/
/* line 23, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
.fondoForm {
  background-color: #92acb6;
  border: inset 10px #71b9a3;
  margin-top: 5px;
}

/* line 29, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*propiedades para el texto de la Mision de la empresa*/
/* line 35, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
.textMision {
  /* propiedades decorativas */
  border: solid 5px #75b775;
  margin: 15px;
  padding: 10px;
}

/* line 43, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
body h1 {
  background-color: #92acb6;
}

/*Utilizamos un bucle para generar cada color */
/* line 51, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
.color--twitter {
  color: #51aff8;
}

/* line 51, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
.color--facebook {
  color: #2956a3;
}

/* line 51, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_decoraciones.scss */
.color--instagram {
  color: #e65444;
}

/*Estilos generales para los media Queries*/
@media (min-width: 576px) {
  /* line 5, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  #nosotros {
    display: flex;
    margin: 15px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  /* line 12, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  iframe {
    width: 480px;
    height: 320px;
  }
  /* line 17, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  :root {
    --text-font-size: 1.3rem;
  }
}

/* Tables, notebooks y escritorio */
@media only screen and (min-width: 1024px) {
  /* DESDE 1200px */
  /* line 27, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  #conentedor-ppal {
    width: 98%;
    margin: 10px;
  }
  /* line 32, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  .topServicios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /* line 38, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  form label {
    padding: 5px;
  }
  /* line 42, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  form input {
    margin: 5px;
  }
  /* line 46, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  iframe {
    width: 640px;
    height: 480px;
  }
  /* line 52, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_responsive.scss */
  :root {
    --text-font-size: 1.5rem;
  }
}

/* Estilos generales para las fuentes*/
/* line 2, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
body {
  font-size: 1rem;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* line 9, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
main p {
  font-family: 'Lobster', cursive;
}

/* Calculo de tamaño de los textos dependiendo del valor de la variable en lso medias queries*/
/* line 15, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
h1 {
  font-size: calc(1.6 * var(--text-font-size));
}

/* line 19, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
main h2 {
  font-size: calc(1.4 * var(--text-font-size));
}

/* line 22, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
main h2:hover {
  color: red;
}

/* line 27, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
main h3 {
  font-size: calc(1.2 * var(--text-font-size));
}

/* line 32, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
p,
form h5 {
  font-size: calc(1 * var(--text-font-size));
}

/* line 38, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
form h4 {
  font-size: calc(1.1 * var(--text-font-size));
}

/* line 42, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_fuentes.scss */
form label {
  font-size: calc(0.9 * var(--text-font-size));
}

/* Estilos Generales para las animaciones */
/*============================ Animacion para imagenes ==================*/
/* line 4, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.img-style:hover .caption {
  opacity: 1;
}

/* line 8, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.img-style:hover img {
  opacity: 1;
  transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -o-transform: scale(1.25, 1.25);
}

/* line 17, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.img-style img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

/* line 25, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.img-style .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

/* line 36, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.img-style img {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* =====================Animacion del text de "Nosotros"=========== */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* line 59, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(-0.1px);
  transform: perspective(1px) translateZ(-0.1px);
  box-shadow: 0 0 1px rgba(224, 221, 221, 0);
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* line 77, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.line-1 {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 left;
  justify-content: left;
}

/* Animacion del text "escribinos"================================== */
/* line 88, D:/Personal/CoderHouse/Desarrollo Web/_PROYECTOS/Repo/Trabajo Final/scss/_animaciones.scss */
.anim-typewriter {
  animation: typewriter 4s steps(25) 1s infinite normal both, blinkTextCursor 500ms steps(10) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*# sourceMappingURL=estilos.css.map */