/* Estilos Generales para las animaciones */

/*============================ Animacion para imagenes ==================*/
.animImagen:hover .caption {
    opacity: 1;
}

.animImagen:hover img {
    opacity: 1;
    transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
}

.animImagen img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.animImagen .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.animImagen img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* =====================Animacion del text de "Nosotros"=========== */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(-0.1px);
    transform: perspective(1px) translateZ(-0.1px);
    box-shadow: 0 0 1px rgba(224, 221, 221, 0);
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.line-1{
    display: flex;
    align-items:flex-start;
    position:relative;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 left;
    justify-content: left;   
}
/* Animacion del text "escribinos"================================== */
.anim-typewriter {
    animation: typewriter 2s steps(25) 1s infinite normal both,
        blinkTextCursor 500ms steps(10) infinite normal;
}

@keyframes typewriter {
    from {
        width: 5em;
    }

    to {
        width: 7em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(247, 240, 240, 0.885);
    }

    to {
        border-right-color: transparent;
    }
}
