/*Configuracion General para la estructura del html*/

/*Aplicamos un reset General para el CSS*/
* {
    margin: 0;
    padding: 0;
}

#conentedor-ppal {
    display: grid;

    grid-template-areas: "carr" "h2top" "topserv" "h2nos" "video" "textM";
    grid-template-rows: repeat(5, auto);
    grid-gap: 0.5rem;

    margin: 3px;
    margin-top: 10px;
    grid-template-columns: 100%;
}

/*=========================Clases========================================*/
.myCarousel{
    display: grid;
    grid-area: carr;
    grid-row: 1;
}

.titulo_top{
    display: grid;
    grid-area: h2top;
    grid-row: 2;

}
.topServicios {
    grid-area: topserv;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    grid-row: 3;

}

.video {
    display: grid;
    grid-area: video;
    justify-items: center;
}

.textMision {
    grid-area: textM;

}
.accordion-body{
    margin: 0px;
    padding: 1px;
}

/* Variable para ajustar el text de acuerdo a los media queries */
:root {
    --text-font-size: 1rem;
}
