/* Estilos generales para las fuentes*/

body {

    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.textMision {
    p {
        font-family: 'Lobster', cursive;
    }
}

/* Calculo de tamaño de los textos dependiendo del valor de la variable en lso medias queries*/
h1{
    font-size: calc(1.6 * var(--text-font-size));
}
main {
    h2 {
        font-size: calc(1.4 * var(--text-font-size));

        &:hover {
            color: rgb(0, 255, 68);
        }
    }

    h3 {
        font-size: calc(1.2 * var(--text-font-size));
    }
}

p,
form h5 {
    font-size: calc(0.9 * var(--text-font-size));
}

form {
    h4 {
        font-size: calc(1 * var(--text-font-size));
    }

    label {
        font-size: calc(0.8 * var(--text-font-size));
    }
}