/*Archivo de estilo SASS principal*/

/* Variables GLobales utilizadas*/

/*Variable para indicar e identificar que la version es beta o no, si es beta: 
el fondo general es amarillo , si es final, el fondo es blanco */
$beta_final: final;

/*Utilizamos maps para definir los colores utilizados */
$colores:(
    fondgral: rgba(231, 231, 231, 0.942),
    bordetexto: rgb(117, 183, 117),
    bordeform: rgb(113, 185, 163),
    fondoform: rgb(146, 172, 182),

);
/* Categorias utilizadas */
@import 'estructura';
@import 'decoraciones';
@import 'responsive';
@import 'fuentes';
@import 'animaciones';
