
#conentedor-ppal{
    background: $colorfondgral;
}
.fondoForm {
    background-color: $colorfondoform;
    border: inset 10px $colorbordeform;
    margin-top: 5px;

}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

.textMision {
    /* propiedades decorativas */
    border: solid 5px $colorbordetexto;
    margin: 15px;
    padding: 10px;
}