/*Aplicamos un reset General para el CSS*/
* {
    margin: 0;
    padding: 0;
}
/* Los media queries van despues (de menor a mayor) */
/* mobile first - customizado para 360px*/

#contenedor {
    display: grid;
    grid-template-areas:
        "principal"
     ;
    grid-template-columns: 95%;
    font-size: 62.5%;
    overflow-x: hidden;
    background: white;
    
}
main {
    grid-area: principal;
    padding: 10px;
    display: flexbox;
    h2 {
        margin: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover{
            color: red;
        }
    }
}

#nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}
#topServicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

/*=========================Clases========================================*/

.columnForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
