/*Archivo de estilo SASS principal*/

/* Variables GLobales utilizadas*/
$colorfondgral: white;
$colorbordetexto: rgb(117, 183, 117);
$colorbordeform: rgb(113, 185, 163);
$colorfondoform: rgb(146, 172, 182);

/* Categorias utilizadas */
@import 'estructura';
@import 'decoraciones';
@import 'responsive';
@import 'fuentes';
@import 'animaciones';
