
form{
    background-color: rgb(146, 172, 182);
    border: inset 10px rgb(113, 185, 163);
    margin: 5px;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

#textMision {
    /* propiedades decorativas */
    border: solid 5px rgb(117, 183, 117);
    margin: 30px;
    padding: 15px;
}