/*Aplicamos un reset General para el CSS*/
* {
    margin: 0;
    padding: 0;
}

/* Definimos una estructura para los componentes fuera de Bootstrap*/
#contenedor {
    display: grid;
    /*
    grid-template-areas:
        "principal"
     ;*/
    grid-template-columns: 95%;
    font-size: 62.5%;
    overflow-x: hidden;
    font-size: 1.8rem;
    
}
main h2 {

    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main {
    /*grid-area: principal;*/
    padding: 10px;
    display: flexbox;
}
/*==============================IDs=====================================*/
#nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}
#topServicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}