/*Css General Proyecto*/

h2 {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form{
    background-color: rgb(146, 172, 182);
    border: inset 10px rgb(113, 185, 163);
    margin: 5px;
}



/*==============================IDs=====================================*/
#nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}

#textMision {
    /* propiedades decorativas */
    border: solid 5px rgb(117, 183, 117);
    margin: 30px;
    padding: 15px;

}

#topServicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

/*=========================Clases========================================*/

.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
/*Clases para hacer "aparecer o desaparecer" cosas en las vistas*/
.showonmobile {
    display: inherit;
}

.showondesktop {
    display: none;
}
@media (min-width: 576px) {
    #nosotros {
        display: flex;
        margin: 15px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    iframe {
        width:480px;
        height:320px;
    }
}
/* Tables, notebooks y escritorio */
@media (min-width: 1200px) {

    /* DESDE 1200px */
    #contenedor {
        grid-template-columns: 100%;
        grid-template-rows: auto 300px minmax(400px, auto) 50px;
        max-width: 1000px;
        width: 100%;
        margin: auto;
        background: white;
        font-size: 180%;
    }

    main {

        display: inline-block;
    }

    #textMision {
        /* propiedades decorativas */
        margin-left: 30px;
        
        overflow: auto;
    }

    #topServicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap:10px;
        justify-items:auto;
    }
    form label {
        padding: 5px;
    }

    form input {
        margin: 5px;
    }

    .boton_form--size {
        font-size: 20px;
    }

    .columnForm {
        display: block;

    }
    iframe {
        width:640px;
        height:480px;
    }
    /*Clases para hacer "aparecer o desaparecer" cosas en las vistas*/
    .showonmobile {
        display: none;
    }

    .showondesktop {
        display: flex;
    }
}

/*------------------Clases------------------------------*/

.boton_form--pos {
    position: relative;
    align-self: flex-end;
    margin: 5px;
    text-align: right;
}
